@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 29% 90%;
    --foreground: 210 79% 14%;
    --card: 214 29% 95%;
    --card-foreground: 210 79% 14%;
    --popover: 214 29% 95%;
    --popover-foreground: 210 79% 14%;
    --primary: 210 79% 14%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 79% 14%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 15 100% 72%;
    --accent-foreground: 210 79% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 20% 80%;
    --input: 214 20% 85%;
    --ring: 210 79% 14%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 79% 14%;
    --foreground: 214 29% 90%;
    --card: 210 79% 18%;
    --card-foreground: 214 29% 90%;
    --popover: 210 79% 18%;
    --popover-foreground: 214 29% 90%;
    --primary: 214 29% 90%;
    --primary-foreground: 210 79% 14%;
    --secondary: 210 40% 20%;
    --secondary-foreground: 214 29% 90%;
    --muted: 210 40% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 15 100% 72%;
    --accent-foreground: 210 79% 14%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 25%;
    --input: 210 40% 25%;
    --ring: 15 100% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply py-12 md:py-20;
  }
}
